*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    direction: rtl;
    display: flex;
    flex-direction: column-reverse;
    width: 350px;
    text-align: center;
    padding: 20px 10px;
    backdrop-filter: blur(16px) saturate(170%);
    -webkit-backdrop-filter: blur(16px) saturate(170%);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    background-image: linear-gradient(45deg,#51a7ff , #5186ff);

    -webkit-box-shadow: 3px 3px 10px 3px #3d3d3d;
    -moz-box-shadow: 3px 3px 10px 3px #3d3d3d;
    box-shadow: 3px 3px 10px 3px #3d3d3d;
    font-family: "emoji";
    font-size: 18px;
}

.container >label{ 
    right: 0;
    font-weight: bold;
}

.form-group, .checkbox{
    margin: 15px 0;
}
.checkbox {
    text-align: right;
    font-size: 14px;
}

.checkbox a{
    color:#222;
    text-decoration:none;
}
.checkbox a:hover{
    color:#000;
    text-decoration:underline;
    transition: all 0.5s
}

.btn-custom{
    width: 100px;
    
}
.alerts{
    text-align:right;
    padding: 0 12px;
    display: none;
}

.success-alert{
    display: block;
    -webkit-box-shadow: 0px 0px 10px 4px #42d63a !important;
    -moz-box-shadow: 0px 0px 10px 4px #42d63a !important;
    box-shadow: 0px 0px 10px 4px #42d63a !important;
    transition: all 1s;

}

.failed-alert{
    display: block;
    -webkit-box-shadow: 0px 0px 10px 4px #d63a3a !important;
    -moz-box-shadow: 0px 0px 10px 4px #d63a3a !important;
    box-shadow: 0px 0px 10px 4px #d63a3a !important;
    transition: all 0.6s;
}




@media (max-width: 500px) { 
    .container{
        width: 100%;
        border-radius: 0;
    }
 }




